.manage-schedule-container {
     // text-align: center;
     .m-s-title {
          text-transform:uppercase ;
          margin-top: 15px;
          font-weight: 600;
          font-size: 17px;
          text-align: center;
          margin-bottom: 15px;
     }
     input.form-control {
          padding: 8px;
      }
     .pick-hour-container{
          height: 215px;
          // border: 1px solid rgb(163, 17, 17);
          margin-top: 20px;
          display: flex;
          font-weight: 600px;
          
         .content-left {
          text-transform:uppercase ;
          margin-bottom: 30px;
          .schedule-alert {
               font-size: 14px;
               font-weight: 600;
               margin: 9px 0;
               span {
                    margin: 8px
               };
          }
          .schedule-content {
               .schedule-alert {
                    font-size: 14px;
                    i {
                         font-size: 14px;
                    }
               }
               // display: flex;
               // border: 1px solid pink;
               display: grid;
               grid-template-columns: repeat(4,120px ); /*1fr Tạo 5 cột bằng nhau */
               gap: 20px; /* Khoảng cách giữa các div */
               align-items: center;
               flex-direction: column;
               height: 155px;
               .clinic-hours {
                    // border: 1px solid rgba(0, 0, 0, 0.194);
                    padding: 10px;
                    font-weight: 550;
                    text-align: center;
                    background-color: rgba(236, 236, 236, 0.75);
                    transition: box-shadow 0.3s ease;
                    height: 65px;
                    input.clinic-hours-click {
                         -webkit-appearance: none;
                         -moz-appearance: none;
                         appearance: none;
                         outline: none;
                         border: none;
                         margin: 0 
                     }
                    
                    cursor: pointer;
                    border-radius: 3px;
                    &:hover {
                         opacity: 0.9;
                         border: 0 solid white;
                         box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                         background-color: rgb(64, 64, 144);
                         color: white;

                    }
                   
               }
               .active {
                    background-color: rgb(39, 39, 182);
                    opacity: 0.9;
                    color: white;
               }
               .clinic-hours-en {
                    font-size: 12px !important;
               }
              
          }
          p.param-warning {
               text-transform: none;
               text-align: start;
               font-weight: 600 !important;
               margin: 12px 0;
               font: 10px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

               i {
                    font-size: 14px;
               }
          }
         }
         .clinic-info-address{
          font-weight: 600px !important;
          padding: 9px 40px;
          .clinic-address-title {
               text-transform:uppercase ;
               font-size: 14px;
          }
          .clinic-name {
               font-size: 13px;
          }
          .clinic-address {
               font-size: 13px;
          }
         }
     }
     .btn {
          padding: 0 5px;
          margin-top: 20px;
      
     }
}