.manage-patient-container {
     // width: 1200px;
     // margin-left: auto ;
     // margin-right: auto;
     border: 1px solid springgreen;
     .m-p-title {
          font-size: 15px;
          margin: 10px 0;
          text-transform: uppercase;
     }
     .manage-patient-body{
          padding: 0  20px;
          .manage-patient-body {
               // border: 1px solid ;
          }
     }
}