.result-search {
     // background-color: rgb(255, 255, 255) !important;
     // padding: 5px;
     margin-top: 4px;
     max-width: 368px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 5px;
     .result-search-specialty {
     background-color: rgba(255, 255, 255, 0.9);


     }
     .result-search-clinic {
     background-color: rgba(255, 255, 255, 0.9);

     }
}