.container{
  border : 1px solid brown;
  // display: flex;
  .row {
    border : 1px solid green;
    height: 100%;
    .form-item{
      
    }
    .invalid-feedback {
      display: block;
      width: 100%;
      margin-top: .25rem;
      font-size: 100%;
      color: #dc3545;  /* Màu sắc của thông báo lỗi, có thể thay đổi */
    }
  }
}