.manage-specialty-container {

     .spcialty-chosse {

     }
     .spcialty-avatar {
          .previewImage{
               img {
                    padding: 5px;
                    height: 55px;
                    box-sizing: content-box;
                    border: 1px solid;
                    /* max-width: 55px; */
                    width: 80px;
                    margin-top: 5px;
               }
          }
     }
}