*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
.home-header-container {
     height: 60px;
     width: 100%;
     padding: 0 20px;
     .home-header-content {
          width: 100%;
          height: 100%;
          display: flex;
          .left-content {
               width: 25%;
               // border: 1px solid rgb(255, 0, 230);
               display: flex;
               align-items: center;
               cursor: pointer;
               i {
                    font-size:30px ;
                    color: rgb(69, 64, 77);
                    margin-left: 50px;
               }
               .header-logo {
                    background: url('../../assets/logo.png') center center no-repeat;
                    background-size: contain;
                    width: 50%;
                    height: 38px;

               }
          }
          .center-content {
               width: 50%;
               // border: 1px solid rgb(0, 85, 255);
               display: flex;
               justify-content: space-between;
               align-items: center;
               .child-content {
                    .subs-title {
                         font-weight: 100px;
                         font-size: 12px;
                    }
               }
          }
          .right-content {
               width: 25%;
               // border: 1px solid black;
               display: flex;
               justify-content: center;
               align-items: center;
               cursor: pointer;
               .support {
                    padding-right: 50px;
                    display: flex;
                    align-items: center;
                    i {
                         font-size: 15px;
                         margin-right:5px ;
                    }

               }
               .language-vi {
                    .active {
                         color: orange;
                    }

               }
               .language-en {
                    margin:0 10px;
                    .active {
                         color: rgb(255, 0, 179);
                    }
                   

               }
          }
     }

}
.home-header-banner {
     background: url("../../assets/header-background.jpg") center no-repeat;
     background-size: cover;
     height: 660px;
     margin: 15px 0; 
     display: flex;
     flex-direction: column;
     .content-up {
          background-image: linear-gradient(rgba(126,126,126,0.25) , rgba(255,255,255,0.1));
          // border: 1px solid red;
          padding-top: 15px;
          height: 65%;
          
          .title1,.title2 {
               text-align: center;
               font-size: 30px;
               text-shadow: 1px 1px 1px #333 ;
               margin-bottom: 5px;
               color: white;
               margin-top: 30px;
     
          }
          .title1 {
               // margin-top: 30px;
          }
          .title2 {
               margin-bottom: 15px;
     
          }
          .search {
               // text-align: center;
               // border: 1px solid red ;
               display: flex;
               justify-content: center;
               margin: 0 auto;
               align-items: center;
               background:#f7d800;
               width: 400px;
               border-radius: 25px;
               padding: 6px;
               margin-top: 41px;
               input {
                     padding:17px ;
                     height: 30px;
                     width: 360px;
                     border: none;
                     background:transparent ;
                     outline: none;
                  
     
               }
               i {
                    margin: 0 5px;
               }
     
          }

     }
     .content-down {
          // border: 1px solid green;
          height: 35%;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding-bottom:10px ;
          background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.9),rgba(255,255,255,1));
          .options {
               
               text-align: center;
               display: flex;
               justify-content: center;
               gap: 50px;
              
               .option-child {
                    // border: 1px solid red;
                    width: 125px;
                    .icon-child {
                         background: white;
                         width: 40px;
                         height: 40px;
                         padding: 10px;
                         border-radius: 50%;
                         text-align: center;
                         margin: 0 auto;
                         i {
                              color: #49bce2;
                              font-size: 20px;
                         }
                    }
                    .text-child {

                         font-size: 17px;
                         font-weight: 500;
                         cursor: pointer;
                         
                         &:hover {
                              color: #49bce2;
                         }

                    }
               }

          }

     }
    
    
}